button{
  padding:10px;
  margin:4px;
  background-color:white;
}
input[type="text"] {
  padding:10px;
  margin: 5px;
  border-radius: 3px;
  background-color:white;
  
}
/* .calculator-grid {
display: grid;
margin-top: 2 rem;
grid-template-columns: repeat(4,6rem);
grid-template-rows:minmax(7rem , auto) repeat(5,6rem);
} */